html,
body {
       height: 100%;
       margin: 0;
       padding: 0;
}

#myarea-map {
       flex-basis: 0;
       flex-direction: center;
       flex-grow: 4;
       height: 500px;
       width: 700px;
}
